{{ define "main" }}
  <div class="text-center mt-20">
    <h1 class="text-3xl mb-4 font-bold">
      <span class="text-red-600">Error 404:</span> Page was not found!
    </h1>
    <p>
      We didn't find the page you were looking for. Please check the URL and try
      again.
    </p>
    <p>
      Or you can go back to the
      <a class="underline text-blue-600" href="/">homepage</a>.
    </p>
  </div>
{{ end }}
