{{define "main"}}
<div class="container max-w-screen-md flex flex-col mt-20">
  <section>
      <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
          <h1 class="mb-4 text-2xl font-extrabold tracking-tight leading-none text-gray-900 md:text-3xl lg:text-4xl">
          There are no Incidents, yet.
          </h1>
          <p class="mb-8 text-l font-normal text-gray-500 lg:text-l sm:px-8 lg:px-40">
          Incidents will allow you to inform your users or co-worker groups about outages and issues.
          </p>
      </div>
  </section>
</div>
{{end}}
