{{define "settings"}}
<section class="relative overflow-x-auto shadow-md sm:rounded-lg p-5 text-gray-500 bg-white">
  <h1 class="text-lg font-semibold text-gray-900">
  {{ .Healthcheck.Name }}
  </h1>
  {{ .Healthcheck.ID }}
  {{ .Healthcheck.Slug }}
  {{ .Healthcheck.Schedule }}
  {{ .Healthcheck.WorkerGroups }}
  <pre class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500">
  {{ .Healthcheck.Script }}
  </pre>
</section>
{{end}}
