{{define "settings"}}
<section class="relative overflow-x-auto shadow-md sm:rounded-lg p-5 text-gray-500 bg-white">
  <h1 class="text-lg font-semibold text-gray-900">
  {{ .Healthcheck.Name }}
  </h1>
  {{ .Healthcheck.ID }}
  {{ .Healthcheck.Slug }}
  {{ .Healthcheck.Url }}
  {{ .Healthcheck.Schedule }}
  {{ .Healthcheck.WorkerGroups }}
</section>
{{end}}
