{{define "settings"}}
<section class="p-5">
  <form action="/settings/workers/create" method="post">
    <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Name</label>
    <input type="text" name="name" id="name" placeholder="aws-eu-central-1"/>
    <p>Worker name can be anything.</p>
    <label for="group" class="block mb-2 text-sm font-medium text-gray-900">Group</label>
    <input type="text" name="group" id="group" placeholder="EU"/>
    <p>
      Group is used to distinguish between different workers.
      For example, you can have a group for different regions,
      different datacenters or different environments.
    </p>
    <button type="submit">Create</button>
  </form>
</section>
{{end}}
