{{ define "base" }}
  {{ $title := "" }}
  {{ $path := "" }}
  {{ if ne nil .NavbarActive }}
    {{ $title = .NavbarActive.Title }}
    {{ $path = .NavbarActive.Path }}
  {{ end }}


  <!doctype html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <title>Zdravko - {{ $title }}</title>
      <link rel="stylesheet" href="/static/css/tailwind.css" />
    </head>
    <body class="bg-gray-100 flex flex-col">
      <nav class="navbar">
        {{ range .Navbar }}
          <a
            {{ $active := eq .Path $path }}
            {{ if $active }}aria-current="true"{{ end }}
            href="{{ .Path }}"
            class="{{ if $active }}active{{ end }}"
          >
            {{ .Title }}
          </a>
        {{ end }}
      </nav>
      {{ template "main" . }}
      <div class="container mx-auto">
        <footer class="text-center text-gray-500 text-xs mt-8 mb-4">
          &copy; {{ Now.UTC.Year }} Zdravko -
          <a
            class="hover:underline"
            href="https://github.com/mentos1386/zdravko"
            >Open Source</a
          >
        </footer>
      </div>
      <script src="/static/js/htmx.min.js"></script>
    </body>
  </html>
{{ end }}
